/out/production/DesignPatterns/com/davidpucheta/Account.class
/out/production/DesignPatterns/META-INF/DesignPatterns.kotlin_module
/out/production/DesignPatterns/com/davidpucheta/Main.class
/out/production/DesignPatterns/com/davidpucheta/TaxCalculator.class
/out/production/DesignPatterns/com/davidpucheta/TaxCalculator2019.class
/out/production/DesignPatterns/com/davidpucheta/TaxCalculator2020.class
/out/production/DesignPatterns/com/davidpucheta/User.class
